{% extends "template.html" %}
{% block content %}
<div class="home">
{% if 'user' in session: %}
    <h3> <a> {{session['user']}} </a>, welcome to the private chat room <a href="http://set09103.napier.ac.uk:9189/dropsession">Log out</a></h3>
{% endif %}
<hr>
<br>
<a href="http://set09103.napier.ac.uk:9189/chat">
<img src="static/bfv.jpg" alt="" height="100" width="100"></a>

<a href="http://set09103.napier.ac.uk:9189/chat2">
<img src="static/hs.png" alt="" height="100" width="100"></a>

<a href="http://set09103.napier.ac.uk:9189/chat3">
<img src="static/csgo.png" alt="" height="100" width="100"></a>


<a href="http://set09103.napier.ac.uk:9189/chat4">
<img src="static/fifa.jpg" alt="" height="100" width="100"></a>

<br>

<img src="static/hs2.png" alt="Hearthstone" width="500" height="250">

        <form action='/chat2' method='post'>
            <input placeholder='Your message' name='post2'>
            <input type='submit' value='Submit'>
        </form>
  </div>
  <div class="chat">
        {% for post2 in posts2 %}
            <h3>{{ post2[1] + ': ' + post2[2] }}</h3>
        {% endfor %}

</div>


{% endblock %}}
