<html>
<head>
	<title>GLite Gaming Clan</title>
	<link rel="stylesheet" type="text/css" href="static/style.css"/>

</head>
<body>
<div class="wrapper">
	<div class="logo">

		<a href="http://set09103.napier.ac.uk:9189/chatrooms">
		<img src="static/glite.png" alt="" height="160" width="350"></a>
		<hr>
	</div>


<!--  <a href="http://set09103.napier.ac.uk:9189/chat">Chat Room</a>-->



 {% block content %} {% endblock %}



	<div class="footer">
		<br>
<a href="https://en-gb.facebook.com/" title="Facebook" class="social_link" rel="me" target="_blank">
<img src="static/fb2.png" alt="" height="100" width="100"></a>

<a href="http://instagram.com/" title="Instagram" class="social_link" rel="me" target="_blank">
<img src="static/Instagram2.png" alt="" height="100" width="100"></a>

<a href="https://twitter.com/" title="Twitter" class="social_link" rel="me" target="_blank">
<img src="static/twitter2.png" alt="" height="100" width="100"></a>
	</div>
</div>


 </body>
 </html >
