{% extends "template.html" %}
{% block content %}

<div class="logo">


	</div>

	<div class="c1">
		 <h4> Napier University kasdj ghsk HS j Sfh kSI. Collab si hh </h4>
		 <h4> Sensorium we do we psadj fg! Napier University. </h4>

	</div>

	<div class="c2">
			<div class="c2link">
					<img src="static/linkbutton.png" alt="linkbutton" style="width:525px;height:160px;">
				</div>
		 <h2>- </h2>

	</div>


	<div class="c3">
			<div class="c3link">
					<img src="static/linkbuttonleft.png" alt="linkbutton" style="width:525px;height:160px;">
				</div>
		 <h1> - </h1>

	</div>


  {% endblock %}}
