<!DOCTYPE html>
<html>
<head>
	<title>The Sensorium</title>
	<link rel="stylesheet" type="text/css" href="static/style.css"/>
	<link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Share+Tech" rel="stylesheet">

</head>
<body>
<div class="wrapper">

	<div class="navbar">
  		<div class="navlogo">
			<a href="http://set09103.napier.ac.uk:9189">
					<img src="static/navlogo.png" alt="sensoriumlogo" style="width:290px;height:50px;">
				</a>
			</div>

			<div class="navlinks">
<ul>
 <li><a class="active" href="#home">Equipment</a></li>
 <li><a href="#news">News</a></li>
 <li><a href="#contact">About us</a></li>
 <li><a href="#contact">Contact</a></li>

</ul>
</div>
</div>
 {% block content %} {% endblock %}


	<div class="footer">
		<div class="footerlogo">
					<a href="http://set09103.napier.ac.uk:9189">	<img src="static/navlogo.png" alt="sensoriumlogo" style="width:230px;height:46px;"> </a>
	</div>


		<div class="footersocial">


			<a href="http://Facebook.com" target="_blank">	<img src="static/social/f2.jpg" alt="faceb2ook" width="60" height="60"> </a>
			<a href="http://twitter.com" target="_blank">		<img src="static/social/tw2.jpg" alt="twitter" width="60" height="60"> </a>
			<a href="http://instagram.com" target="_blank">		<img src="static/social/ig2.jpg" alt="instagram" width="60" height="60"> </a>
			<a href="http://youtube.com" target="_blank">		<img src="static/social/yt2.jpg" alt="youtube" width="60" height="60"> </a>
		</div>



			<div class="footertext">
<h3> Sensorium Lab by Edinburgh Napier </h3>
			</div>




</div>


 </body>
 </html >
